<!DOCTYPE html>
<html>
  <head>
    <h1>New Message from DevMatch</h1>
  </head>
  <body>
    <p>You have received a message from the site's contact form from
    <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>